#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#blurred-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

#profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

#avatar-frame {
  position: absolute;
  width: 160px;  /* slightly bigger than profile picture */
  height: 160px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 2;
}

.links a {
  margin: 0 10px;
  color: white;
  font-size: 1.5rem;
  transition: 0.3s;
}

.links a:hover {
  color: #ffcb46;
}
